SECRET_KEY=change-me
ADMIN_REGISTRATION_KEY=change-me
DB_PATH=db/mtg_inventory.db
IMAGE_PATH=static
FLASK_DEBUG=False
TCGCSV_LOCAL_TIMEZONE=America/Chicago
TCGCSV_HISTORY_DIR=/var/data/tcg_history
TCGCSV_FETCH_SCRIPT_PATH=_get_tcgcsv.py