<!DOCTYPE>
<html>
    <head>
        <title>{% block title %}{% endblock %} - MTG Catalog</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        
        <style>
            {% block style %}{% endblock %}
        </style>

        <script>

            {% block script %}
            
            {% endblock %}
        
        </script>
    </head>
    <body>
        <nav class="container">
            <div class="nav-bar">
                <ul>
                    <li><a href="/" class="dropbtn">Home</a></li>
                    <li><a href="/inventory">Whole Collection</a></li>
                    <li><a href="/trade_binder">Trade Binder</a></li>
                    <li><a href="/sets">Set Collections</a></li>
                    
                    {% if current_user.is_authenticated and current_user.role == 'admin' %}
                        <li><a href='/card_adder'>Add Cards</a></li>
                    {% endif %}

                    {% if current_user.is_authenticated and current_user.role == 'admin' %}
                        <li>
                            <a href="{{ url_for('admin.admin_dashboard') }}">
                                {{ current_user.username }}
                            </a>
                        </li>
                        <li><a href='/logout'>Logout</a></li>

                    {% elif current_user.is_authenticated %}
                    
                        <li><a href='\logout'>Logout ({{ current_user.username }})</a></li>

                    {% else %}
                        <li><a href='/login'>Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <main class="container">
        {% block content %}
        {% endblock %}
        </main>
    </body>
</html>
